<div class="about-cover">
<h2>Comunicarse es lo más importante</h2>
<p>Comen
</p>
</div>

<div class="about-2">
	<h2>Facilitando la terapia de lenguaje</h2>
	<div class="about-3"><p>Comenzamos con una idea simple -todos los niños deben adquirir y desarrollar las habilidades que necesitan para expresarse- y hemos estado trabajando para cumplirlo desde entonces.</p>

	<p>Desarrollamos los únicos tutoriales de terapia de lenguaje. Nuestros videos ofrecen una solución efectiva, accesible y cómoda para que los padres estimulen desde casa, el lenguaje de sus hijos.</p>

	<p>Comunicar ideas y pensamientos suena como algo fácil -y debería serlo-. Trabajamos todos los días para que la terapia de lenguaje se convierta en algo sencillo y alcanzable para todos.</p>
	</div>
</div>
