<div class="buy-cover">
	<h2>Porque comunicarse es lo más importante.</h2>
	<p>Trabajamos para que la terapia de lenguaje sea sencilla, alcanzable y efectiva para todos.</p>
</div>

<div class="nosotros">
	<h2>Facilitamos la terapia de lenguaje</h2>
		<div class="nosotros-centered">
			<div class="nosotros-box">
				<img alt="atencion" src="/assets/atencion.png" hspace="40"/>
				<h3>Sobre nosotros</h3>
				<p>Somos terapeutas de lenguaje profesionales y buscamos compartir nuestro conocimiento con los padres de familia.</p>
			</div>

			<div class="nosotros-box">
				<img alt="comodidad" src="/assets/comodidad.png" hspace="40"/>
				<h3>Tutoriales únicos</h3>
				<p>Desarrollamos los únicos tutoriales en video de terapia de lenguaje, para que los padres puedan guiar y enseñar a sus hijos desde casa.</p>
			</div>

			<div class="nosotros-box">
				<img alt="cercania" src="/assets/cercania.png" hspace="40"/>
				<h3>Nuestra meta</h3>
				<p>Trabajamos todos los días para realizar tutoriales cada vez más sencillos y efectivos.</p>
			</div>

			<div class="nosotros-box">
				<img alt="precio" src="/assets/precio.png" hspace="40"/>
				<h3>Precio</h3>
				<p>Paga una sola vez y recibe más de 50 videos tutoriales y un diagnóstico personalizado.</p>
			</div>
	</div>
</div>

<div class="about-photo">
	<h1>Tenemos lo que necesitas</h1>
	<h2>para que tu hijo desarrolle su lenguaje.</h2>
	<div class="main-buy-button-margin">
	<%= link_to "COMIENZA HOY", buy_path, class: "main-buy-button" %>
	</div>
</div>