<div class="buy-cover">
	<h2>Terapia de lenguaje desde casa.</h2>
	<p>Desarrollamos tutoriales en video para estimular y desarrollar el lenguaje de tus hijos.</p>
</div>

<div class="ventajas">
	<h2>Nuestro Producto</h2>
		<div class="box-centered">
			<div class="ventajas-box">
				<img alt="atencion" src="/assets/atencion.png" hspace="40"/>
				<h3>Atención profesional</h3>
				<p>Tutoriales diseñados por psicólogos profesionales especialistas en terapia de lenguaje.</p>
			</div>

			<div class="ventajas-box">
				<img alt="comodidad" src="/assets/comodidad.png" hspace="40"/>
				<h3>Comodidad</h3>
				<p>Consulta nuestros tutoriales desde casa o en cualquier dispositivo móvil con acceso a Internet.</p>
			</div>

			<div class="ventajas-box">
				<img alt="cercania" src="/assets/cercania.png" hspace="40"/>
				<h3>Cercanía</h3>
				<p>Guía y acompaña a tu hijo durante este proceso tan importante.</p>
			</div>

			<div class="ventajas-box">
				<img alt="precio" src="/assets/precio.png" hspace="40"/>
				<h3>Precio</h3>
				<p>Paga una sola vez y recibe más de 50 videos tutoriales y un diagnóstico personalizado.</p>
			</div>
	</div>
</div>

<div class="payments">
	<h2>Planes de pago</h2>
			<div class="payments-box">
				<h3>Adquiere nuestro plan único y recibe:</h3>
				<div class="payment-feature">
					<img alt="video" src="/assets/video.png"/>
					<p>Acceso ilimitado a tutoriales en video.</p>
				</div>	

				<div class="payment-feature">
					<img alt="check" src="/assets/check.png"/>
					<p> Diagnóstico inicial personalizado.</p>
				</div>

				<div class="payment-feature">
					<img alt="smiley" src="/assets/smiley.png"/>
					<p> Atención y soporte profesional.</p>
				</div>

					<div class="payment-feature">
					<img alt="pen" src="/assets/pen.png"/>
					<p> Acceso ilimitado a nuestro Blog.</p>
				</div>

				<div class="payment-button-marginer">
					<a href="#" class="payment-button">$960.00</a>
				</div>
			</div>
</div>

<div class="transferencia">
	<h2>Pago con transferencia bancaria</h2>
	<p>Si prefieres hacer tu pago con transferencia bancaria, ponte en contacto con nosotros.</p>