<div class="ayuda-cover">
	<h2>¿Preguntas?</h2>
	<p>Estamos aquí para resolver todas tus dudas.</p>
</div>

<div class="ayuda-2">
	<h2>Nuestras ventajas</h2>
		<div class="ayuda-centered">
			<div class="ayuda-box">
				<img alt="phone" src="/assets/phone.png" hspace="40"/>
				<h3>Atención telefónica</h3>
				<p>Nuestros clientes pueden hablar con nuestro equipo de soporte y obtener asesoría durante la semana en horario de oficina.</p>
			</div>

			<div class="ayuda-box">
				<img alt="talk" src="/assets/question.png" hspace="40"/>
				<h3>Atención vía telefónica</h3>
				<p>Máncanos un mensaje o un tweet y un miembro de nuestro equipo contestará todas tus dudas.</p>
			</div>

			<div class="ayuda-box">
				<img alt="medal" src="/assets/medal.png" hspace="40"/>
				<h3>Disponibilidad</h3>
				<p>Trabajamos mucho para lograr que nuestro producto sea confiable. Pero estamos aquí para ayudarte en caso de que tengas alguna dificultad.</p>
			</div>
	</div>
</div>