<div class="buy-cover">
	<h2>¿Preguntas?</h2>
	<p>Estamos aquí para resolver todas tus dudas.</p>
</div>

<div class="help-2">
	<h2>Queremos ayudarte</h2>
		<div class="help-centered">
			<div class="help-box">
				<img alt="phone" src="/assets/phone.png" hspace="40"/>
				<h3>Atención telefónica</h3>
				<p>Habla con nuestro equipo de soporte y obtén asesoría personalizada.</p>
			</div>

			<div class="help-box">
				<img alt="talk" src="/assets/question.png" hspace="40"/>
				<h3>Atención electrónica</h3>
				<p>Mándanos un mensaje y un miembro de nuestro equipo  te contestará a la brevedad.</p>
			</div>

			<div class="help-box">
				<img alt="medal" src="/assets/medal.png" hspace="40"/>
				<h3>Disponibilidad</h3>
				<p>Estamos siempre disponibles para ayudarte en caso de alguna duda o dificultad.</p>
			</div>

			<div class="help-box">
				<img alt="salvavidas" src="/assets/salvavidas.png" hspace="40"/>
				<h3>¿Preguntas?</h3>
				<p>Revisa nuestra sección de preguntas frecuentes y encuentra la respuesta que buscas.</p>
			</div>
	</div>
	</div>
</div>

<div class="faq">
	<h2>Preguntas frecuentes</h2>

	<h3>¿Qué es R Con Erre?</h3>
	<p>R con Erre es una aplicación que contiene tutoriales en video dedicados a estimular y desarrollar el lenguaje de los niños, dando herramientas a los padres para que guíen y enseñen a sus hijos a comunicarse y expresarse mejor.</p>

	<div class="purple-line"></div>
	<h3>¿Quién puede usar R Con Erre?</h3>
	<p>R Con Erre está dirigido a niños de 2 a 10 años de edad, que presentan alguna dificultad en el lenguaje. Ya sea omitiendo, cambiando o sustituyendo algún sonido del habla.</p>

	<div class="purple-line"></div>
	<h3>¿Cómo funciona R Con Erre?</h3>
	<p>Al adquirir nuestro programa, tendrás acceso anual a nuestros videos tutoriales y a una evaluación inicial personalizada, la cual será tu guía para estimular el lenguaje de tu hijo.</p>

	<div class="purple-line"></div>
	<h3>¿Cómo puedo realizar mi pago?</h3>
	<p>Dirígete a nuestra sección de <%= link_to "compra", buy_path, style: "color: black; font-weight: 700" %> y realiza tu pago con tarjeta de crédito o PayPal. También puedes realiza un depósito bancario directo.</p>

	<div class="purple-line"></div>
	<h3>¿Por cuánto tiempo tendré acceso a los tutoriales?</h3>
	<p>Nuestro plan actual es anual. Una vez realizado tu pago, tendrás acceso ilimitado a nuestros tutoriales. Practica y realiza los ejercicios con tu hijo todo el tiempo que necesites.</p>

	<div class="purple-line"></div>
	<h3>¿Dónde puedo ver los tutoriales?</h3>
	<p>Puedes acceder a nuestros tutoriales desde cualquier computadora, laptop, Ipad, Tableta, Iphone o Smartphone con conexión a Internet.</p>

	<div class="purple-line"></div>
	<h3>¿Puedo descargar los tutoriales?</h3>
	<p>No. Únicamente puedes acceder a los tutoriales desde nuestro sitio web.</p>

	<div class="purple-line"></div>
	<h3>¿Puedo acceder a los tutoriales sin conexión a Internet?</h3>
	<p>No.</p>

	<div class="purple-line"></div>
	<h3>¿Por cuánto tiempo se deben practicar los tutoriales?</h3>
	<p>Recomendamos que la práctica sea constante, con una duración en promedio de 30 minutos por día, ya que entre más estimulación reciba el niño, su avance será mayor y más rápido.</p>

	<div class="purple-line"></div>
	<h3>¿Mi hijo puede practicar por su cuenta?</h3>
	<p>No. Nuestros tutoriales están hechos específicamente para que los niños reciban estimulación con ayuda de sus papás o un adulto.</p>

	<div class="purple-line"></div>
	<h3>¿Qué letras incluyen los tutoriales de R Con Erre?</h3>
	<p>Incluímos todos los sonidos del habla (letras) del idioma español.</p>

	<div class="purple-line"></div>
	<h3>¿R Con Erre sustituye a la terapia de lenguaje tradicional?</h3>
	<p>Buscamos ser una herramienta de apoyo a la terapia tradicional. Si tu hijo presenta una alteración de lenguaje, sería importante que consultes con un especialista -ya sea médico o terapeuta de lenguaje- para recibir un diagnóstico formal y posteriormente adquirir nuestro programa.</p>

	<div class="purple-line"></div>
	<h3>¿Necesito un diagnóstico médico para utilizar R Con Erre?</h3>
	<p>No, no es necesario, cualquier persona puede utilizar R Con Erre. Sin embargo, es importante consultar con un especialista para que revise y diagnostique correctamente a tu hijo.</p>

	<div class="purple-line"></div>
	<h3>¿R Con Erre funciona para trastornos de disfemia (tartamudez)?</h3>
	<p>No, por el momento nuestros tutoriales se enfocan únicamente en trastornos de omisión, sustitución y articulación incorrecta de letras.</p>

	<div class="purple-line"></div>
	<h3>¿R Con Erre tiene límite de edad?</h3>
	<p>Nuestro programa está diseñado para niños de 2 a 10 años, sin embargo, cualquiera puede utilizar nuestros tutoriales para estimular y desarrollar su lenguaje.</p>
	
	<div class="purple-line"></div>
	<h3>¿Quién es R Con Erre?</h3>
	<p>Somos una compañía independiente con base en Monterrey, Nuevo León, México. Pasamos nuestro tiempo mejorando nuestro sitio, resolviendo las dudas de nuestros usuarios y encontrando nuevas maneras de mejorar e innovar la terapia de lenguaje.</p>

</div>
 