<div class= "home-cover">
	<h1>Terapia de lenguaje desde casa</h1>
	<h2>Tutoriales que estimulan y desarrollan el lenguaje de tus hijos.</h2>
	<div class="main-buy-button-margin">
	<%= link_to "COMIENZA HOY", buy_path, class: "main-buy-button" %>
	</div>
</div>
