// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*--All the website--*/
.header {
	background: transparent;
	font-color: white;
	text-align: center;
	width: 100%;
	padding: 2em 0 2em 0;
	margin: 0 auto;
	border-bottom: 1px lightgray solid;
	top: 0px;
}

.header a{
	margin: 0 3em 0 3em;
}

.footer {
	background: white;
	color: lightgray;
	padding: 2em 0 2em 0;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.footer a{
	color: lightgray;
	margin: 0 1em 0 1em;
}

/*-- Home --*/

.home-cover {
	background: url(/assets/home-cover.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	color: white;
	margin: 0 auto;
	padding: 12em 0 12em 0;
	text-align: center;
}

.home-about {
	background: white;
	text-align: center;
	padding: 6em 0em 6em 0em;
	margin: 0 auto;
	background-size: cover;
}

.home-about h2{
	color: #6d6d6d;
}

.home-about p{
	color: darkgray;
	padding: 1em 1em 1em 1em;
}

.home-explain {
	background: white;
	text-align: center;
	padding: 6em 0 6em 0;
	margin: 0 auto;
	background-size: cover;

}
/*-----Buy------*/
.buy-cover {
	background: #9B74B3;
	text-align: center;
	padding: 12em 20em 12em 20em;
	margin: 0 auto;
	background-size: cover;
}

.buy-cover p{
	color: white;
	font-size: 18px;

}

.buy-cover h2{
	color: white;
}

.ventajas {
	background: white;
	padding: 2em 0;
	height: 30em;
	margin: 0 auto;
	text-align: center;
}

.ventajas h2{
	color: gray;
}

.ventajas h3{
	color:gray;
}

.ventajas-box {
	width: 12vw;
	display: inline;
	float: left;
	margin: 0 auto;
	padding: 20px;
}

.box-centered {
	margin: 5vh auto;
	padding-bottom: 10vh;
	float: center;
	display: inline-block;
	border-bottom: 1px lightgray solid;
}	

.payments {
	background: white;
	padding: 2em 0 3em 0;
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px lightgray solid;
}

.payments h2{
	color: gray;
}

.payments p{
	color: white;
}

.payments-box {
	background: #9B74B3 ;
	padding: 2em 2em;
	margin: 0 auto;
	text-align: center;
	width: 25vw;
	border-radius: 10px;
}

.payments-box img{
	display: inline-block;
	float: left;

}

.payments-box h3{
	color: white;
}

.payment-feature{
	padding: 1em 0;
}


/*----About----*/

.about-cover {
	background: #9B74B3;
	text-align: center;
	padding: 10em 10em 10em 10em;
	margin: 0 auto;
	background-size: cover; 
}

.about-cover h2{
	color: white; 
}
.about-cover p{
	color: white;  
}

.about-2 {
	background: white;
	text-align: center;
	padding: 3em 16em 0em 16em;
	margin: 0 auto;
	background-size: cover; 
}

.about-2 h2{
	color: #6d6d6d; 
}
.about-3 p{
	color: darkgray;
	line-height: 125% 
}
.about-3 {
	background: white;
	text-align: left;
	padding: 1em 2em 1em 2em;
	margin: 0 auto;
}
.main-buy-button {
	background: #68C6B9;
	color: white;
	padding: 1em 4em;
	border-radius: 3px;
}

.main-buy-button a{
}

.main-buy-button-margin {
	margin-top: 3.5em;
}

a.payment-button {
	background: #68C6B9;
	color: white;
	padding: 1em 4em;
	border-radius: 3px;
}

.payment-button-marginer {
	margin: 4em ;
}

/*----Ayuda----*/

.help-cover{
	background: #9B74B3;
	text-align: center;
	padding: 10em 10em 10em 10em;
	margin: 0 auto;
	background-size: cover; 
}

.help-cover h2{
	color: white;
}

.help-cover p{
	color: white;
}

.help-2 {
	background: white;
	padding: 2em 0;
	height: 30em;
	margin: 0 auto;
	text-align: center;
}

.help-2 h2{
	color: gray;
}

.help-2 h3{
	color: gray;
	text-align: center;

}

.help-box {
	width: 14vw;
	display: inline;
	float: left;
	margin: 0 auto;
	padding: 30px;
}

.help-centered {
	margin: 5vh auto;
	padding-bottom: 10vh;
	float: center;
	display: inline-block;
	border-bottom: 1px lightgray solid;
}	 

.faq{
	padding: 1em 14em 2em 14em;
	margin: 0 auto;
	border-bottom: 1px lightgray solid;
}

.faq h2{
	color: gray;
	text-align: center;
}

.faq h3{
	color: gray;
}

.purple-line {
	border-top: 3px #9B74B3 solid;
	width: 2.5vw;
	margin: 3em 0;
}

.style-1 input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.sign-in-1 {
  background: #f4f4f4;
	height: 20em;
	width: 40em;
	margin: 2em auto;
	text-align: center;
	border-radius: .8em;
}

.sign-in-1 h2 {
	color: gray;
	text-align: left;	
	font-size: 25px;
}

.box-sign-in {
	padding: 1em 2em 1em 2em;
}