<p>Hola <%= @resource.email %>!</p>

<p>Hemos recibido una solicitud para restablecer tu contraseña de R Con Erre. Haz clic en el siguiente link para restablecerla:</p>

<p><%= link_to 'Restablecer mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitaste el cambio de tu contraseña, ignora este correo electrónico.</p>
<p>Tu contraseña no cambiará hasta que accedas al link proporcionado y establezcas una nueva contraseña</p>