<div class="footer">
	R con Erre © 2014 
	<%= link_to "Contacto", contact_path %>
	<a href="http://facebook.com/Rconerre">Facebook</a>
	<a href="http://twitter.com/rconerremx">Twitter</a>
	<a href="http://blog.rconerre.mx">Blog</a>
</div>
